<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--cercare font/ link font da aggiungere -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app" class="app">
      <aside class="colonnaSx">
        <!-- zona profilo personale -->
        <section class="profilo">
          <ul class="avatarProfilo">
            <li>
              <img :src="'img/avatar'+ user.avatar +'.jpg'" >
            </li>
            <p>{{user.name}}<p>
          </ul>
          <div class="iconeProfilo">
             <i class="fas fa-circle-notch"></i>
             <i class="fas fa-comment-alt"></i>
             <i class="fas fa-ellipsis-v"></i>
          </div>
        </section>
        <!-- zona notifiche azzurrina con icona campanella -->
        <section class="notifiche">
          <div class="campanella">
             <i class="fas fa-bell-slash"></i>
          </div>
          <div class="testoNotifiche">
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <small>Attiva notifiche desktop</small>
          </div>
        </section>
        <!-- input di ricerca da perfezionare molto -->
        <section class="input">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Cerca o inizia una nuova chat"
            v-model="cerca"
            @keyup="cercaConversazione">
        </section>
        <!-- elenco dei contatti con conversazioni già iniziate -->
        <section class="elencoConversazioni">
           <div class="contatti" v-for='(item, index) in contacts'  @click='presaIndice(index)'>
             <img :src="('./img/avatar') + contacts[index].avatar + '.jpg'" alt="user">
              <div class="user-name">
                <h4>{{ contacts[index].name }}</h4>
              </div>
           </div>
        </section>
      </aside>
      <main class="zonaDx">
        <!-- zona nome utente con cui siamo in conversazione -->
        <section class="nome">
          <ul class="avatarNome">
            <li>
              <img :src="`img/avatar${contacts[indiceContatti].avatar}.jpg`" alt="contacts[indiceContatti].name">
            </li>
            <p>{{ contacts[indiceContatti].name }} <br> <small>Ultimo acceso oggi alle 10:35</small></p>
          </ul>
          <div class="iconeNome">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </section>
        <!-- zona dei messaggi riguardanti la conversazione -->
        <section class="messaggistica">
          <div class="messaggiGen" v-for="message in contacts[indiceContatti].messages">
            <div :class="{'inviato': message.status == 'sent','ricevuto' : message.status == 'received'}">
              <p>{{ message.message }}</p>
              <small>{{ message.date }}</small>
            </div>
          </div>
        </section>
        <!-- zona del inserimento del nuovo messaggio -->
        <section class="inserimento">
          <i class="far fa-smile smile"></i>
          <input type="text" class="nuovoMex" placeholder="Scrivi un messaggio"
           v-model.trim= "messageWrite"
           @keyup.enter="newMex(indiceContatti)">
          <i class="fas fa-microphone microfono active"></i>
        </section>
      </main>

    </div>
    <!-- script js -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <script src="main.js" charset="utf-8"></script>
  </body>
</html>
