*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 20%,
    #d2dbdc 20%,
    #d2dbdc 100%
    );
}

.app{
  display: flex;
  height: 95%;
  width: 80%;
  min-width: 900px;
  background: grey;
}

/* zona colonna sinistra */
.colonnaSx{
  flex-basis: 40%;
  background: #ffff;
  display: flex;
  flex-direction: column;
  border-right:1px solid #c4c3c1;
}
/* zona profilo parte alta con avatar e nome */
.profilo{
  padding:8px;
  background: #e1e0ddba;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatarProfilo img {
  max-width: 40px;
  border-radius: 50%;
  align-self: center;
}
.avatarProfilo{
  align-self: center;
  display: flex;
  list-style: none;
}
.avatarProfilo p{
  align-self: center;
}

.iconeProfilo i {
  font-size: 21px;
  color: #b1b1b1;
  cursor: pointer;
  padding: 5px;
}

/* zona azzurrina con campanellina notifiche */
.notifiche {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #3acaf8cf;
  cursor: pointer;
}
.campanella {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.campanella i {
  font-size: 15px;
  color: #3acaf8cf;
}
/* zona ricerca contatti e conversazione */
.input{
  padding: 10px;
  background: #e1e0dd61;
}
.input input{
  border: 0.5px white solid;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  font-size: 8px;
  color: #edece9f2;
}
/* zona elenco conversazione già esistenti */
.elencoConversazioni{
  flex-grow: 1;
  background: white;
}
/* colonna di dx con utente con cui stai conversando+conversazione+scrittura mex */
.zonaDx{
  flex-basis: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
/* utente con cui stai conversando */
.nome{
  padding:30px;
  background: #e1e0ddba;
}
/* scrittura mex */
.inserimento{
  padding:20px;
  background: #e1e0ddba;
}

.inserimento input{
  border: 0.5px white solid;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  align-items: center;
  color: #edece9f2;
}
/* zona conversazione */
.conversazione{
  flex-grow: 1;
  background-image: url(img/mine.jpg);
  padding: 30px;
}
