*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 20%,
    #d2dbdc 20%,
    #d2dbdc 100%
    );
}

.app{
  display: flex;
  height: 95%;
  width: 80%;
  min-width: 900px;
  background: grey;
}

/* zona colonna sinistra */
.colonnaSx{
  flex-basis: 40%;
  background: #ffff;
  display: flex;
  flex-direction: column;
  border-right:1px solid #c4c3c1;
}
/* zona profilo parte alta con avatar e nome */
.profilo{
  padding:8px;
  background: #e1e0ddba;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatarProfilo img {
  max-width: 40px;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}
.avatarProfilo{
  align-self: center;
  display: flex;
  list-style: none;
}
.avatarProfilo p{
  align-self: center;
  cursor: pointer;
}

.iconeProfilo i {
  font-size: 18px;
  color: #b1b1b1;
  cursor: pointer;
  padding: 5px;
  cursor: pointer;
}

/* zona azzurrina con campanellina notifiche */
.notifiche {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #3acaf8cf;
  cursor: pointer;
}
.campanella {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.campanella i {
  font-size: 15px;
  color: #3acaf8cf;
}
.testoNotifiche small:hover{
  color: #787474;
  text-decoration: underline;
}
/* zona ricerca contatti e conversazione */
.input {
  display: flex;
  align-items: center;
  border: 1px solid #f6f6f6;
  border-right: transparent;
  cursor: pointer;
  padding: 10px;
  background: #e1e0dd61;
}
.input i {
  font-size: 10px;
  color: #edece9f2;
  cursor: pointer;
  background-color: white;
  padding: 5.5px;
  border: 0.5px white solid;
  border-radius: 5px;
}
.input input{
  border: 0.5px white solid;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  color: #edece9f2;
}
/* zona elenco conversazione già esistenti */
.elencoConversazioni{
  flex-grow: 1;
  background: white;
  overflow: auto;
}
.elencoConversazioni .contatti{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #c4c3c126;
    cursor: pointer;
    transition: background .3s;
}
.elencoConversazioni .contatti img{
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.elencoConversazioni .contatti:hover{
    background-color: #f5f5f5;
}

/* colonna di dx con utente con cui stai conversando+conversazione+scrittura mex */
.zonaDx{
  flex-basis: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
/* utente con cui stai conversando */
.nome{
  padding:8px;
  background: #e1e0ddba;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatarNome img {
  max-width: 40px;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}
.avatarNome{
  align-self: center;
  display: flex;
  list-style: none;
}
.avatarNome p{
  align-self: center;
  cursor: pointer;
}
.avatarNome small{
  color: #787474;
}
.iconeNome i {
  font-size: 18px;
  color: #b1b1b1;
  cursor: pointer;
  padding: 7px;
  cursor: pointer;
}

/* scrittura mex */
.inserimento{
  padding:8px;
  background: #e1e0ddba;
  display: flex;
  justify-content: space-between;
}

.inserimento input {
 flex-grow: 0.8;
 border: none;
 outline: none;
 height: 35px;
 padding: 10px 12px;
 font-size: 12px;
 border-radius: 5px;
}

/* inserimaìento icone */
.inserimento i {
  font-size: 20px;
  color: #72787b;
  cursor: pointer;
  transition: color .2s linear;
}
.smile {
  margin-left: 20px;
  align-self: center;
}
.microfono {
  margin-right: 20px;
  align-self: center;
}

/* zona messaggistica */
/* imp. generali della zona messagistica */
.messaggistica{
  flex-grow: 1;
  background-image: url(img/mine.jpg);
  padding: 30px;
}
.messaggiGen {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/* imp per i mex inviati  */
.inviato {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  background: #94f894;
  border-radius: 5px;
}
.inviato p{
  margin-right: 50px;
  padding-bottom: 5px;
  font-size: 15px;
}
.inviato small {
  font-size: 10px;
  text-align: right;
  color: #787474;
}

.ricevuto {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.ricevuto p {
  margin-right: 50px;
  padding-bottom: 5px;
  font-size: 15px;
}
.ricevuto small {
  font-size: 10px;
  text-align: right;
  color: #787474;
}
